.gitattributes
amd_ags_x64.dll
bink2w64.dll
data0.bdt
data0.bhd
data1.bdt
data1.bhd
data2.bdt
data2.bhd
data3.bdt
data3.bhd
eossdk-win64-shipping.dll
eossdk-win64-shipping.so
nightreign.exe
oo2core_9_win64.dll
regulation.bin
start_protected_game.exe
steam_api64.dll
steam_input_for_ps4_controller.vdf
steam_input_for_ps5_controller.vdf
steam_input_for_steam_controller.vdf
steam_input_for_steam_deck.vdf
steam_input_for_switch_pro_controller.vdf
steam_input_for_xboxone_controller.vdf
steam_input_manifest.vdf
easyanticheat/delete_eos_log.bat
easyanticheat/easyanticheat_eos_setup.exe
easyanticheat/install_easyanticheat_eos_setup.bat
easyanticheat/install_script.vdf
easyanticheat/settings.json
easyanticheat/splashscreen.png
easyanticheat/uninstall_easyanticheat_eos_factory_reset.bat
easyanticheat/uninstall_easyanticheat_eos_setup.bat
easyanticheat/certificates/base.bin
easyanticheat/certificates/base.cer
easyanticheat/certificates/runtime.conf
easyanticheat/licenses/apache-2.0.txt
easyanticheat/licenses/licenses.txt
easyanticheat/licenses/mit.txt
easyanticheat/localization/ar_sa.cfg
easyanticheat/localization/cs_cz.cfg
easyanticheat/localization/de_de.cfg
easyanticheat/localization/en_us.cfg
easyanticheat/localization/es_ar.cfg
easyanticheat/localization/es_es.cfg
easyanticheat/localization/fr_fr.cfg
easyanticheat/localization/it_it.cfg
easyanticheat/localization/ja_ja.cfg
easyanticheat/localization/ko_kr.cfg
easyanticheat/localization/nl_nl.cfg
easyanticheat/localization/pl_pl.cfg
easyanticheat/localization/pt_br.cfg
easyanticheat/localization/ru_ru.cfg
easyanticheat/localization/th_th.cfg
easyanticheat/localization/tr_tr.cfg
easyanticheat/localization/zh_cn.cfg
easyanticheat/localization/zh_tw.cfg
movie/00001000.bk2
movie/00001010.bk2
movie/00002000.bk2
movie/00002001.bk2
movie/00002002.bk2
movie/00002003.bk2
movie/00002004.bk2
movie/00002005.bk2
movie/00002200.bk2
movie/00002201.bk2
movie/00002202.bk2
movie/00002203.bk2
movie/00002204.bk2
movie/00002205.bk2
movie/00002206.bk2
movie/00002207.bk2
movie/00002208.bk2
movie/00002209.bk2
movie/00002210.bk2
movie/00002211.bk2
movie/00002212.bk2
movie/00002300.bk2
movie/00002301.bk2
movie/00002302.bk2
movie/00002303.bk2
movie/10000020.bk2
movie/10000200.bk2
movie/11000100.bk2
movie/13100000.bk2
movie/13100001.bk2
movie/16110000.bk2
movie/60440010.bk2
sd/sd.bdt
sd/sd.bhd
sd/sd_dlc01.bdt
sd/sd_dlc01.bhd
/SeamlessCoop/crashdumps
